<%= stylesheet_link_tag "style" %>
<%= javascript_pack_tag "script"%>
<div class="container-fluid font justify-content-center">
  <div class="row bg-primary1">
    <div class="col-lg-1 col-sm-12 col-12 d-flex justify-content-center">
      <a class="navbar-brand text-white font-weight-bold" href="#">Fotobook</a>
    </div>

    <div class="col-lg-7 col-sm-12 col-12">
      <input class="col rounded border-0 my-1 py-1" type="text" placeholder="Search Photo / Album" />
    </div>

    <% if user_signed_in? %>
    <% @user_name = current_user.firstname + " " + current_user.lastname%>
    <% @user_sname = current_user.firstname[0] + current_user.lastname[0] %>
    <div class="col-lg-3 col-sm-6 col-12 d-flex justify-content-lg-end justify-content-sm-center justify-content-center">
      <strong><%= link_to "#{@user_sname}", user_path(id: current_user.id), :class => "btn btn-circle bg-white text-primary1-color" %></strong>
      <strong><%= link_to "#{@user_name}", user_path(id: current_user.id), :class => "btn navbut border-0" %></strong>
    </div>

    <div class="col-lg-1 col-sm-6 col-12 d-flex justify-content-center">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn navbut'  %>
    </div>
    <% end %>
  </div>


  <div class="row bg-grey">
    <div class="col-xl-2 col-sm-12 pt-4 align-items-center ">
      <div class="col-xl-12 col-sm-6 justify-content-sm-center">
        <%= link_to "Feeds", feed_photos_path, :class => "btn text-primary1-color"%>
      </div>
      <div class="col-xl-12 col-sm-6 justify-content-sm-center">
        <%= link_to "Discover", discover_albums_path, :class => "btn text-secondary"%>
      </div>
    </div>

    <div class="col-xl-8 col-sm-10 col-sm-12 ">
      <div class="col bg-white my-3">
        <div class="row justify-content-center">
          <div class="row btn-group my-3">
            <%= link_to "PHOTO", feed_photos_path, :class => "btn rounded-left border", :id => "btn-photo" %>
            <%= link_to "ALBUM", feed_albums_path, :class => "btn rounded-right chosen border", :id => "btn-album" %>
          </div>
        </div>

        <div class="row font-size justify-content-center">
          <% if @album %>
          <% @album.each do |i| %>
          <% @author_name = i.user.firstname + " " + i.user.lastname%>
          <% @author_sname = i.user.firstname[0] + i.user.lastname[0]%>
          <div class="col-lg-5 col-sm-12 bg-grey rounded shadow m-2">
            <div class="row">
              <div class="col-lg-6 col-sm-12 thumb-container album-thumb1">
                <div class="col-12 images-container square mx-auto mt-3">
                  <%= image_tag (if i.photos.first.image.file.present? then i.photos.first.image.url else "doge.jpg" end), { class: "thumb-image image-fluid square", "data-toggle": "modal", "data-target": "#modal-album-#{i.id}" } %>
                  <%= image_tag (if i.photos.first.image.file.present? then i.photos.first.image.url else "doge.jpg" end), { class: "thumb-image image-fluid square", "data-toggle": "modal", "data-target": "#modal-album-#{i.id}" } %>
                  <%= image_tag (if i.photos.first.image.file.present? then i.photos.first.image.url else "doge.jpg" end), { class: "thumb-image image-fluid square", "data-toggle": "modal", "data-target": "#modal-album-#{i.id}" } %>
                </div>
              </div>

              <div class="col-lg-6 col-sm-12 ">
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn-circle chosen border"><%= @author_sname %></button>
                    <%= link_to "#{@author_name}", user_path(id: i.user_id), :class => "btn font-size mb-1 p-0" %>
                  </div>
                </div>

                <div class="row font-weight-bold px-3 py-2">
                  <%=i.title%>
                </div>

                <div class="row font-weight-normal px-3 py-2">
                  <%=i.description%>
                </div>

                <div class="row ">
                  <div class="col-6 py-2 text-primary1-color font-size love">
                    <% if liked?(current_user, i) %>
                    <%= link_to raw('<i class="fas fa-heart text-primary1-color"></i>'), like_path(type:'Album', post_id: i.id, user_id: current_user.id), method: :post, remote: true, name:"like" %>
                    <% else %>
                    <%= link_to raw('<i class="fas fa-heart text-secondary"></i>'), like_path(type:'Album', post_id: i.id, user_id: current_user.id), method: :post, remote: true, name:"like" %>
                    <% end %>
                    <span><%= i.likes.count %></span>
                  </div>
                  <div class="col-6 py-2 text-secondary text-right font-size-sm py-2">
                    <%= i.created_at%>
                    <!-- .strftime("%I:%M %p %-d/%-m/%Y")  -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%end%>
          <%end%>
        </div>

        <div class="row bg-white mt-5 justify-content-center " style="height:50px">
          <%= paginate @album%>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-0">

    </div>
  </div>
</div>
<% @album.each do |i| %>
<div id="modal-album-<%=i.id%>" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <p class="modal-title font-weight-bold" id="modal-album-title"><%= i.title %></p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-n1 py-0">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag (if i.photos.first.image.file.present? then i.photos.first.image.url else "doge.jpg" end), { class: "d-block w-100", "data-toggle": "modal", "data-target": "#modal-album-#{i.id}" } %>
            </div>
            <% i.photos[1..].each do |p| %>
            <div class="carousel-item">
              <%= image_tag (if p.image.file.present? then p.image.url else "doge.jpg" end), { class: "d-block w-100", "data-toggle": "modal", "data-target": "#modal-album-#{p.id}" } %>
            </div>
            <%end%>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <p id="modal-album-description" style="font-size:10px" class="pt-2"><%= i.description %> </p>
      </div>
    </div>
  </div>
</div>
<% end %>
