<%= stylesheet_link_tag "style" %>
<%= javascript_pack_tag "script"%>
<div class="container-fluid font justify-content-center">
  <div class="row bg-primary1">
    <div class="col-lg-1 col-sm-12 col-12 d-flex justify-content-center">
      <a class="navbar-brand text-white font-weight-bold" href="#">Fotobook</a>
    </div>

    <div class="col-lg-7 col-sm-12 col-12">
      <input class="col rounded border-0 my-1 py-1" type="text" placeholder="Search Photo / Album" />
    </div>

    <% if user_signed_in? %>
    <% @user_name = current_user.firstname + " " + current_user.lastname%>
    <% @user_sname = current_user.firstname[0] + current_user.lastname[0] %>
    <div class="col-lg-3 col-sm-6 col-12 d-flex justify-content-lg-end justify-content-sm-center justify-content-center">
      <strong><%= link_to "#{@user_sname}", user_path(id: current_user.id), :class => "btn btn-circle bg-white text-primary1-color" %></strong>
      <strong><%= link_to "#{@user_name}", user_path(id: current_user.id), :class => "btn navbut border-0" %></strong>
    </div>

    <div class="col-lg-1 col-sm-6 col-12 d-flex justify-content-center">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn navbut'  %>
    </div>
    <% end %>
  </div>


  <div class="row bg-grey">
    <div class="col-xl-2 col-sm-12 pt-4 align-items-center ">
      <div class="col-xl-12 col-sm-6 justify-content-sm-center">
        <%= link_to "Feeds", feed_albums_path, :class => "btn text-secondary"%>
      </div>
      <div class="col-xl-12 col-sm-6 justify-content-sm-center">
        <%= link_to "Discover", discover_photos_path, :class => "btn text-secondary"%>
      </div>
    </div>

    <div class="col-xl-8 col-sm-10 col-sm-12 ">
      <div class="col bg-white my-3">
          <div class="row">
              <div class="col">
                  <div class="font-weight-bold border-bottom py-3">
                      New Photo
                  </div>
              </div>
          </div>
          <%= form_for @photo, url: user_photos_path, :html => {id: "new_photo_form"} do |f|%>
          <div class="row">
            <div class="col px-3">
              <div class="form-group-vertical mt-5">
                <%= f.label :title %>
                <%= f.text_field :title, id: "title", placeholder: "Photo Title", class: "form-control col-11" %>
              </div>

              <div class="form-group-vertical py-5">
                <%= f.label :sharingmode %>
                <%= f.select :sharingmode, [['Public', true], ['Private', false]], class: "col-3 custom-select"%>
              </div>
            </div>

            <div class="col px-3">
              <div class="form-group-vertical mt-5">
                <%= f.label :description %>
                <%= f.text_area :description, id: "description", rows:"6", placeholder: "Photo Description", class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row px-3 my-3">
              <div class="form-group-vertical bg-grey rounded add-photo" style="background-image:url(<%= image_url('Plus.jpg') %>); background-size:cover;">
              <%= f.file_field :image, id: "newPhoto", style: "opacity:0; height:200px; width:200px" %>
            </div>
          </div>
          <div class="row px-3 my-5">
            <%= submit_tag "Save", class: "btn add px-3"%>
          </div>
          <% end %>
        </div>
      </div>

    <div class="col-xl-2 col-sm-0">

      </div>
    </div>
  </div>

  <script type="text/javascript">
    <%= render "validate.js" %>
  </script>
